pip==24.2
setuptools==70.0.0
wheel==0.43.0

Flask==3.0.3
flask-cors==4.0.1
flask-limiter==3.8.0
google-cloud-texttospeech==2.16.4
openai==1.37.1
stripe==9.12.0
fpdf2==2.7.9
Pillow==10.4.0
gunicorn==21.2.0